# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Audio files
*.mp3 binary
*.wav binary
*.ogg binary

# Video files
*.mp4 binary
*.webm binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary

# Archives
*.zip binary
*.tar binary
*.gz binary

# Documents
*.pdf binary
